<web-app>
	<servlet>
		<servlet-name>welcome</servlet-name>
		<servlet-class>WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>zgipTest</servlet-name>
		<servlet-class>ZgipTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zgipTest</servlet-name>
		<url-pattern>/zgiptest</url-pattern>
	</servlet-mapping>
</web-app>